Repository ansys/pyansys-units, pull requests merged in 2023-10, with the labels that each got.

#125 Some documentation clean-ups
  doc/Makefile
  doc/make.bat
  doc/source/contributing.rst
  doc/source/user_guide/temperature.rst
  src/ansys/units/quantity.py
Labels: documentation, maintenance

#130 Doc/cleanup to match quantity
  doc/Makefile
  doc/make.bat
  doc/source/api/config.rst
  doc/source/contributing.rst
  doc/source/user_guide/temperature.rst
  src/ansys/units/__init__.py
  src/ansys/units/_constants.py
  src/ansys/units/cfg.yaml
  src/ansys/units/dimensions.py
  src/ansys/units/map.py
  src/ansys/units/quantity.py
  src/ansys/units/systems.py
  src/ansys/units/unit.py
  src/ansys/units/unit_registry.py
  tests/test_cfg.py
  tests/test_systems.py
  tests/test_unit.py
  tests/test_unit_registry.py
Labels: documentation, testing

#122 Doc/factor naming
  doc/source/user_guide/quantity.rst
  src/ansys/units/quantity.py
  src/ansys/units/unit.py
  tests/test_unit.py
Labels: documentation, testing

#140 Python version update
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
  src/ansys/units/dimensions.py
  tox.ini
Labels: documentation, maintenance

#144 Unit system construction and copy. FIXED
  examples/00-pyunits/basic_usage.py
  src/ansys/units/__init__.py
  src/ansys/units/base_dimensions.py
  src/ansys/units/cfg.yaml
  src/ansys/units/dimensions.py
  src/ansys/units/map.py
  src/ansys/units/quantity.py
  src/ansys/units/systems.py
  src/ansys/units/unit.py
  tests/lib_compare/test_angle_units.py
  tests/test_quantity.py
  tests/test_systems.py
  tests/test_unit.py
Labels: bug, testing

#147 Removed dimensions.dimensions
  src/ansys/units/dimensions.py
  src/ansys/units/unit.py
  tests/lib_compare/test_angle_units.py
  tests/test_dimensions.py
  tests/test_unit.py
Labels: enhancement, testing

#148 UnitRegistry attrs are immutable.
  src/ansys/units/__init__.py
  src/ansys/units/unit_registry.py
  tests/test_unit_registry.py
Labels: bug, testing
