Repository ansys/pyansys-units, pull requests merged in 2023-08, with the labels that each got.

#14 Doc/build documentation
  .github/workflows/ci_cd.yml
  CONTRIBUTORS.md
  doc/.vale.ini
  doc/source/_static/PyAnsys_overview.png
  doc/source/_static/basic_usage.png
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/00-pyunits/basic_usage.ipynb
  doc/source/examples/00-pyunits/basic_usage.py
  doc/source/examples/00-pyunits/basic_usage.py.md5
  doc/source/examples/00-pyunits/basic_usage.rst
  doc/source/examples/00-pyunits/basic_usage_codeobj.pickle
  doc/source/examples/00-pyunits/images/thumb/sphx_glr_basic_usage_thumb.png
  doc/source/examples/00-pyunits/index.rst
  doc/source/examples/00-pyunits/sg_execution_times.rst
  doc/source/examples/index.rst
  doc/source/getting_started/faqs.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/index.rst
  doc/source/user_guide/config.rst
  doc/source/user_guide/dimensions.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/map.rst
  doc/source/user_guide/quantity.rst
  doc/source/user_guide/systems.rst
  doc/source/user_guide/tables.rst
  examples/00-pyunits/README.txt
  examples/00-pyunits/basic_usage.py
  examples/README.md
  examples/README.txt
  src/ansys/units/quantity.py
Labels: documentation, maintenance

#34 Tidy up authoring / licensing details.
  AUTHORS.md
  CODEOWNERS
  CONTRIBUTORS.md
  README.rst
Labels: maintenance

#35 Remove comments from AUTHORS file.
  AUTHORS.md
Labels: maintenance

#22 maint: deploy pyunits
  .github/workflows/ci_cd.yml
  MANIFEST.in
  src/ansys/units/__init__.py
  src/ansys/units/docs/.gitignore
  src/ansys/units/docs/README.rst
Labels: maintenance, dependencies

#37 fix: deps and reqs
  requirements/requirements_doc.txt
  setup.py
Labels: bug, dependencies

#42 fix: table imports
  doc/source/user_guide/tables.rst
  src/ansys/units/__init__.py
  src/ansys/units/_constants.py
  src/ansys/units/dimensions.py
  src/ansys/units/map.py
  src/ansys/units/quantity.py
  src/ansys/units/systems.py
  src/ansys/units/tables.py
  src/ansys/units/units.py
  tests/test_units.py
Labels: bug, documentation

#36 feat: technical review
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .gitignore
  AUTHORS
  AUTHORS.md
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  README.rst
  doc/source/conf.py
  pyproject.toml
  requirements/requirements_build.txt
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
  setup.py
  src/ansys/units/__init__.py
  src/ansys/units/_version.py
  tox.ini
Labels: documentation, enhancement, maintenance

#46 Fix doc errors and cosmetic clean ups
  README.rst
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
Labels: documentation

#50 fix: tables headers in docs
  doc/source/user_guide/index.rst
  doc/source/user_guide/units.rst
Labels: bug, documentation

#49 Feat: improve source code
  .gitignore
  README.rst
  doc/make.bat
  doc/source/api/config.rst
  doc/source/api/dimensions.rst
  doc/source/api/index.rst
  doc/source/api/map.rst
  doc/source/api/quantity.rst
  doc/source/api/systems.rst
  doc/source/api/units.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  examples/00-pyunits/basic_usage.py
  src/ansys/units/dimensions.py
  src/ansys/units/map.py
  src/ansys/units/quantity.py
  src/ansys/units/systems.py
  src/ansys/units/units.py
  tests/test_dimensions.py
  tests/test_map.py
  tests/test_quantity.py
  tests/test_systems.py
  tests/test_units.py
Labels: documentation, enhancement, testing

#51 fix: minor changes on the files and position
  .github/CODEOWNERS
  MANIFEST.in
  README.rst
Labels: enhancement, maintenance
