Repository ansys/pyansys-units, pull requests merged in 2024-01, with the labels that each got.

#211 feat: Added More Style Actions
  .github/workflows/ci_cd.yml
Labels: enhancement, maintenance

#217 fix: Bump version 0.2.0
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance, testing

#220 fix: stable doc build
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/source/getting_started/faq.rst
  pyproject.toml
Labels: documentation, maintenance

#224 build: dev doc fix
  .github/workflows/label.yml
Labels: bug, maintenance
