Repository ansys/pyansys-units, pull requests merged in 2024-02, with the labels that each got.

#232 refactor: Disallow value as string
  src/ansys/units/quantity.py
  tests/test_quantity.py
Labels: bug, testing

#233 fix: Bump 0.3.dev0
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance, testing

#237 fix: Remove usage of os.path.relpath
  src/ansys/units/_constants.py
  src/ansys/units/unit_registry.py
Labels: bug

#239 refactor: Bump release 0.3.0
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance, testing

#244 feat: quantity is immutable
  src/ansys/units/quantity.py
  tests/test_quantity.py
Labels: enhancement, testing

#243 fix: quantity comparisons
  src/ansys/units/quantity.py
  tests/test_quantity.py
Labels: bug, testing

#245 refactor: Bump release 0.3.1
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance, testing

#251 feat: array iteration and indexing
  src/ansys/units/quantity.py
  tests/test_quantity.py
Labels: enhancement, testing

#252 docs: updates to quantity docs
  doc/source/user_guide/quantity.rst
Labels: documentation

#253 docs: fixes and improvements
  README.rst
  doc/source/index.rst
  doc/source/user_guide/quantity.rst
Labels: documentation
