Repository ansys/pyansys-units, pull requests merged in 2024-11, with the labels that each got.

#313 chore: Maintenance tasks
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  LICENSE
  README.rst
  doc/source/getting_started/installation.rst
Labels: bug, documentation, maintenance

#309 feat: Configure angle as dimension
  LICENSE
  src/ansys/units/unit.py
  tests/lib_compare/test_angle_units.py
  tests/test_quantity.py
Labels: documentation, enhancement, maintenance, testing

#315 chore: resolve dependency issues
  pyproject.toml
Labels: bug, maintenance

#321 chore: Bump release 0.3.3
  .github/workflows/ci_cd.yml
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance, testing

#323 fix: move quarto-cli deps and set open limits on main deps
  pyproject.toml
Labels: bug, maintenance
