Repository ansys/pyansys-units, pull requests merged in 2025-05, with the labels that each got.

#349 docs: var descriptors
  doc/source/api/index.rst
  doc/source/api/quantity_dimensions.rst
  doc/source/api/variable_descriptor.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/quantity_dimensions.rst
  doc/source/user_guide/variable_descriptor.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/units/dimensions.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
  tests/test_dimensions.py
Labels: documentation, testing

#350 build: Bump version to v0.5.0
  pyproject.toml
Labels: maintenance

#351 build: Bump version to v0.6.dev0
  pyproject.toml
Labels: maintenance

#354 chore: mat-props
  src/ansys/units/quantity_dimensions.py
Labels: enhancement

#355 build: Bump version to v0.6.dev1
  pyproject.toml
Labels: maintenance

#356 build: Bump version to v0.5.1
  pyproject.toml
  src/ansys/units/quantity_dimensions.py
Labels: maintenance

#361 ci: Bump version to v0.7.dev0
  pyproject.toml
Labels: maintenance
